<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Blur Slide Bar</string>
	<string>Drawer View Controller</string>
	<string>Animate Tab View Controller</string>
	<string>Photo Scan</string>
	<string>Zone Refresh</string>
	<string>Walk Through</string>
	<string>Image Processing</string>
</array>
</plist>
